.App{
  display: flex;
  width: 1000px;
  padding: 25px;
  display: flex;
  justify-content: center;
  background: rgba(31, 39, 49, 1);
}

@media (max-width:980px){
  .App{
    width: 850px;
  }
}

@media (max-width:850px){
  .App{
    width: 100%;
  }
}


